.dashboardcontainer {
  background-color: #bed6bb;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subcontainer {
  display: flex;
  background-color: white;
  width: 80vw;
  height: 80vh;
  box-shadow: 5px 10px 5px 10px #888888;
}
@media (max-width: 767px) {
  .subcontainer {
    display: flex;
    background-color: white;
    width: 90vw;
    height: 80vh;
    box-shadow: 5px 10px 5px 10px #888888;
  }
}
.userinformationssection {
  background-color: black;
  width: 30%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  font-size: large;
  font-weight: 800;
}

.qrcodescannersection,
.qrcodescannersectionMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}
.qrcodescannersectionMobile {
  margin-bottom: 100px;
  width: 100%;
}
.qrcodescannersectionbtn {
  height: 50px;
  min-width: 250px;
  width: 30%;
  border-radius: 0.3rem;
  border: 1px solid white;
  font-size: large;
  font-weight: 900;
  background-color: rgb(25, 96, 189);
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
}
.qrcodescannersectionbtn:hover {
  height: 50px;
  min-width: 250px;
  width: 30%;
  border-radius: 0.3rem;
  border: 1px solid rgb(25, 96, 189);
  font-size: large;
  font-weight: 900;
  background-color: white;
  color: rgb(25, 96, 189);
  align-items: center;
  display: flex;
  justify-content: center;
}
.qrcodescannersectionspan,
.qrcodescannersectionspanMobile {
  margin-bottom: 40px;
  font-size: large;
  font-weight: 400;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.qrcodescannersectionspanMobile {
  margin-top: 20px;
}
.qrcodescannersectiongif {
  padding-left: 15px;
  width: 35px;
  height: 35px;
}
.dashboradlogo {
  border: 1px solid white;
  background-color: white;
  border-radius: 2px;
  padding: 5px;
  width: 150px;
  border-radius: 50%;
}
.userinformationssectionspan {
  margin-top: 20px;
}
.userinformationssectionspanMobile {
  margin-top: 40px;
  font-size: 20px;
}

.qrreader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
